<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>

        <!-- 3GB Files / in byte (3072*1024*1024) -->
        <requestLimits maxAllowedContentLength="3221225472" />

      </requestFiltering>
    </security>
        <directoryBrowse enabled="true" />
  </system.webServer>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <connectionStrings>
    <!--<add name="RevoDMSConStr" connectionString="Data Source=COMP01-PC\SQLEXPRESSR2;Persist Security Info=false;Initial Catalog=Sonal;User ID=sa;Password=Admin@123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="RevoDMSConStr" connectionString="Data Source=COMP18\SQLEXPRESS;Persist Security Info=false;Initial Catalog=SonalCeramic;User ID=sa;Password=Admin123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SONALConnectionString" connectionString="Data Source=COMP11\SQLEXPRESS;Persist Security Info=false;Initial Catalog=Sonal_Test;User ID=sa;Password=Admin@123" providerName="System.Data.SqlClient"/>-->
    <!--Used FOr Project-->
    <!--<add name="RevoDMSConStr" connectionString="Data Source=COMP17-PC;Initial Catalog=DMS_Client_DB;User ID=sa;Password=Admin@123" providerName="System.Data.SqlClient"/>-->
    <!--Used FOr TEST-->
    <add name="RevoDMSConStr" connectionString="Data Source=.\sqlexpress;Initial Catalog=DMS;User ID=sa;Password=Admin@123" providerName="System.Data.SqlClient" />
    <!--<add name="SONALConnectionString" connectionString="Data Source=COMP20\SQLEXPRESS;Persist Security Info=false;Initial Catalog=Sonal_Bath_Fitting_New;User ID=sa;Password=Admin@123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SONALConnectionString" connectionString="Data Source=COMP10\SQLEXPRESS;Persist Security Info=false;Initial Catalog=Sonal;User ID=sa;Password=admin123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SONALConnectionString" connectionString="Data Source=COMP16\SQLEXPRESSR2;Persist Security Info=false;Initial Catalog=SonalCeramic;User ID=sa;Password=Admin@123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SONALConnectionString" connectionString="Data Source=COMP16\SQLEXPRESSR2;Persist Security Info=false;Initial Catalog=SonalSample;User ID=sa;Password=Admin@123" providerName="System.Data.SqlClient"/>-->
    <!--For Testing Sonal Ceramic From Comp 14 -->
    <!--<add name="SONALConnectionString" connectionString="Data Source=COMP9\SQLEXPRESS;Persist Security Info=false;Initial Catalog=SonalCeramic;User ID=sa;Password=admin123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SONALConnectionString" connectionString="Data Source=COMP17\SQLEXPRESS;Persist Security Info=false;Initial Catalog=SonalCeramic;User ID=sa;Password=Admin@123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SONALConnectionString" connectionString="Data Source=COMP18\SQLSERVER;Persist Security Info=false;Initial Catalog=SonalCeramics;User ID=sa;Password=admin123" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
   
    <sessionState mode="InProc" cookieless="UseCookies" timeout="525600" />
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=9.9.9.9:42424" cookieless="false" timeout="525600"/>-->
    <httpRuntime executionTimeout="2400" maxRequestLength="2097151" enable="true" />
    <!--<trace enabled="false" />-->
    <!-- 
    Set compilation debug="true" to insert debugging 
    symbols into the compiled page. Because this 
    affects performance, set this value to true only 
    during development.
    -->


    
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
        <roleManager enabled="true" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>