/* Added by medha for  model popup*/
.modalBackgroundForPopUp
{
	border: 1px ridge #000000;
	background-color:Gray;
	filter: alpha(opacity=20);
	opacity: 0.7; /*filter: alpha(opacity=70);#D6DBF5
	opacity: 0.7;*/
} 
/* Added by medha for model popup*/
.modalPopupBig {
	background-color:#ffffff;
	font-family:Verdana;
	border-width:3px;
	border-style:solid;
	border-color:#6F92BE;
	width:500px;
}

.FixPanelHeight
{
	position:relative;
	overflow:scroll;
	 height:200px;
}
.Label_Dynamic
{
	font-family: helvetica;
	font-size: 13px;	
	color: #002742;
}
.BoldText
{
	font-family: 'helvetica';
	font-size: larger;
	font-weight: bold;
	color: #002742;
	text-align: left;
}
sbody
{/*
	background-color: #FFFFFF;*/	
}
.Info
{
	
	font-size: 12px;
	color: #484848;
	font-weight: bold;
}
.Error
{
	
	font-size: 12px;
	font-weight: bold;
	color: #CE2900;
}
.buttonLOGIN
{
	background:  #A6A6A6; 
	background: linear-gradient(top, #A6A6A6 0%, #bbbbbb 30%);  
	background: -moz-linear-gradient(top, #A6A6A6 0%,  #bbbbbb 30%);  
	background: -webkit-linear-gradient(top, #A6A6A6 0%, #bbbbbb 30%);
	border-style: ridge;
	border-width: 1px;
	border-color: inherit;
	/*background: #E0691A url(../Images/MasterPages/submit.gif) no-repeat;*/
	padding: 4px 0;
	width: 65px;
	color: Black;
	font: bold 1em Arial, Sans-Serif;
	margin-left: 0;
	margin-right: 10px;
	margin-top: 0;
}
.buttonLOGIN:hover
{
		border: 1px ridge #B452CD;
		background: #FFF7F2; 		
		padding: 4px 0;
		width: 65px;
		margin: 0 10px 0px 0;
		color: #000000;
		font: bold 1em Arial, Sans-Serif;
}
.LabelInv
{
	font-family: Verdana;
	font-size: large;
	color: #333333;
	font-weight: bold;
}
.LabelInv1
{
	font-family: Verdana;
	font-size: large;
	color: #0099FF;
	font-weight: bold;
}
.LabeLog
{	
	font-size: 14px;
	text-align: right;
  vertical-align:middle;
   color:White; 
   font-family:Verdana;
   font-weight:bold;
}	
.Label
{	
	font-size: 14px;
	text-align: right;
  vertical-align:middle;  
  color:Black;
}

.Labeltest
{	
	font-size: 14px;
	text-align: right;
  vertical-align:middle;  
  color:Black;
}

.LabelSearch
{
	font-size: 12px;
	font-weight:bold
}
.LabelForBooking
{	
	font-size:larger;
  vertical-align:middle;  
  color:Blue;
  font-weight:bold;
}
.TextBoxNumericForBooking
{	
	font-size:larger;
	font-weight:bold;
	color:Blue;
	text-align: right;
}
.Label3
{	
	font-size: 12px;
	text-align: right;
  vertical-align:middle;  
  width:145px;
}
.LabelMultiLine
{
	
	font-size: 12px;
	text-align: right;
  vertical-align:text-top;
	
	
}
.Label1
{

	font-size: 12px;
	text-align: left;
	vertical-align:middle;
	
}
.Label2
{
 font-family  : Verdana;
	font-size: small;
	color: #333333;
	font-weight: bold;
}
.SubTitle
{	
	
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}
.linkButton
{	
	font-size: 12px;
    text-wrap:normal;

}
.linkButton:hover
{	
}
A:hover
{	
	color: #660066;
}
.ComboBox
{
	border: 1px ridge #808080;
	
	font-size: 12px;		
}
.ComboBox
{
	border: 1px ridge #808080;
	
	font-size: 12px;
    top: 4px;
    left: 0px;
    height: 22px;
    width: 525px;
}
.ComboBox:focus
{
	border: 1px ridge #FF4500;
	background-color:#FFF7F2;
	
	font-size: 12px;		
}
.ComboBoxNEW
{
	border: 1px ridge #808080;
	width:250px;
	font-size: 12px;		
}
.ComboBoxNew:focus
{
	border: 2px ridge #FF4500;
	background-color:#FFF7F2;
	width:250px;
	font-size: 12px;		
}
.CheckBox
{
    color:Black;
    font-size: 14px;
    width: 200px;
    height: 100px;   
}
.CheckBox:focus
{	
	
	font-size: 12px;
	border: 1px ridge #FF4500;
	background-color:#FFF7F2;

}
.RadioButton
{
	font-size: 12px;
	color:Black;
}
.Radio
{
	font-size: 12px;
	color:Black;
}
.input[type=radio]
{
	font-size: 12px;
	color:Black;
}
.RadioButtonList
{
	font-size: 12px;
	color:Black;
}
.RadioButton:focus
{
	color:Black;
	font-size: 12px;
	border: 1px ridge #FF4500;
	/*background-color:#FFF7F2;*/
}
.TextBox
{
	border: 1px ridge #808080;	
	font-size: 12px;	 		
}
.TextBoxN
{
	border: 0px 0px 0px 0px;
	font-size: 12px;
    text-align : right;	
}
.TextBoxReadOnly
{
	border: 1px ridge #808080;
	background-color: #FFFFFF;
	text-align: left;
}
.TextBox:focus
{
	border: 1px ridge #FF4500;
	background-color: #FFF7F2;
	
	font-size: 12px;
}
.TextBox_Search
{
	background-position: right;
	padding: 2px 1px 1px 16px;
	border: 1px ridge #808080;
	
	font-size: 12px;
	background: url('../Images/Icon/TxtSearch.jpg' ) no-repeat left top;
	
}
.TextBox_Search:focus
{
	background-position: right;
	padding: 2px 1px 1px 16px;
	border: 1px ridge #808080;
	
	font-size: 12px;
	background: url('../Images/Icon/TxtSearch.jpg' ) no-repeat left top;
	border: 1px ridge #FF4500;
	background-color: #FFF7F2;
}
.TextBoxNumeric
{
	border: 1px ridge #808080;
	
	font-size: 12px;
	text-align: right;
}
.TextBoxNumeric:focus
{
	border: 1px ridge #FF4500;
	background-color:#FFF7F2;
	
	font-size: 12px;
	text-align: right;
}
.TextBoxNumericReadOnly
{
	border: 1px ridge #808080;
	font-family: Verdana;
	font-size: 11px;
	font-weight:bold;
	text-align: right;
	color:Black;
}

.TextBoxLowercase
{
	border: 1px ridge #808080;
	
	font-size: 12px;
	border-style: ridge;
	border-width: 1px;
	text-transform: lowercase;
}
.TextBoxLowercase:focus
{
	border: 1px ridge #FF4500;
	background-color:#FFF7F2;
	
	font-size: 12px;
	border-style: ridge;
	border-width: 1px;
	text-transform: lowercase;
}
.TextBoxUpperCase
{
	border: 1px ridge #808080;
	
	font-size: 12px;
	border-style: ridge;
	border-width: 1px;
	text-transform: uppercase;
}
.TextBoxUpperCase:focus
{
	border: 1px ridge #FF4500;
	background-color:#FFF7F2;
	
	font-size: 12px;
	border-style: ridge;
	border-width: 1px;
	text-transform: uppercase;
}
.Imagebutton
{
	border: 0px ridge #000000;
	vertical-align: middle;
	/*width: 16px;*/
}
.Imagebutton:focus
{
	border: 1px ridge #FF4500;
	vertical-align: middle;
}
.button
{
	background:  #A6A6A6; 
	background: linear-gradient(top, #A6A6A6 0%, #bbbbbb 30%);  
	background: -moz-linear-gradient(top, #A6A6A6 0%,  #bbbbbb 30%);  
	background: #A6A6A6;
	border-style: ridge;
	border-width: 1px;
	border-color: #003399;
	/*background: #E0691A url(../Images/MasterPages/submit.gif) no-repeat;*/
	padding: 4px 0;
	width: 70px;
	color: Black;
	font: bold 1em Arial, Sans-Serif;
	margin-left: 0;
	margin-right: 10px;
	margin-top: 0;
	height: 28px;
	margin-bottom: 0px;
     border-radius: 10px;
}
.buttonClone
{
	background:  #A6A6A6; 
	background: linear-gradient(top, #A6A6A6 0%, #bbbbbb 30%);  
	background: -moz-linear-gradient(top, #A6A6A6 0%,  #bbbbbb 30%);  
	background: #A6A6A6;
	border-style: ridge;
	border-width: 1px;
	border-color: #003399;
	/*background: #E0691A url(../Images/MasterPages/submit.gif) no-repeat;*/
	padding: 4px 0;
	width: 65px;
	color: Black;
	font: bold 1em Arial, Sans-Serif;
	margin-left: 0;
	margin-right: 10px;
	margin-top: 0;
	height: 25px;
	margin-bottom: 0px;
}
.button:hover
{
		border: 1px ridge #B452CD;
		background: #FF7722; 		
		padding: 4px 0;
		width: 65px;
		margin: 0 10px 0px 0;
		color: #000000;
		font: bold 1em Arial, Sans-Serif;
}

.panel
{
	border: 1px ridge #000000;
	background-color: #DADADA;
}

    
.mGrid
{
	width: 100%;
	background-color: #fff;
	margin: 5px 8px 10px 8px;
	border: solid 1px #525252;
	border-collapse: collapse;
	
}
    .mGrid td
{
	padding: 2px;
	border: solid 1px #c1c1c1;
	color: #3C3C3C;
	font-weight: bold;
}
    .mGrid th { padding: 4px 2px; color: #fff; background: #424242 url(../Images/Icon/grd_head.png) repeat-x top; border-left: solid 1px #525252; font-size: 12px; }
    .mGrid th  a{color:white;font-size:12px;}
.mGrid .alt { background: #fcfcfc url(../Images/Icon/grd_alt.png) repeat-x top; }
.mGrid .pgr {background: #424242 url(../Images/Icon/grd_pgr.png) repeat-x top; }
.mGrid .ftr {background: #424242 url(../Images/Icon/grd_head.png) repeat-x top; color: #FFFFFF;font-size: 12px;}
    .mGrid .pgr table { margin: 5px 0; }
    .mGrid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }   
    .mGrid .pgr a { color: #666; text-decoration: none; }
    .mGrid .pgr a:hover { color: #000; text-decoration: none; }
   
     .mGrid1
{
	width: 100%;
	background-color: #fff;
	margin: 5px 3px 10px 0;
	border: solid 1px #525252;
	border-collapse: collapse;
	
}
    .mGrid1 td
{
	padding: 2px;
	border: solid 1px #c1c1c1;
	color: #000000;
	font-weight: bold;
	text-align: center;
	font-size: large;
}
    .mGrid1 th { padding: 4px 2px; color: #fff; background: #424242 url(../Images/Icon/grd_head.png) repeat-x top; border-left: solid 1px #525252; font-size: 12px; }
.mGrid1 .alt { background: #fcfcfc url(../Images/Icon/grd_alt.png) repeat-x top; }
.mGrid1 .pgr {background: #424242 url(../Images/Icon/grd_pgr.png) repeat-x top; }
.mGrid1 .ftr {background: #424242 url(../Images/Icon/grd_head.png) repeat-x top; color: #FFFFFF;font-size: 12px;}
    .mGrid1 .pgr table { margin: 5px 0; }
    .mGrid1 .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color:  #fff; line-height: 16px; }   
    .mGrid1 .pgr a { color: #666; text-decoration: none; }
    .mGrid1 .pgr a:hover { color: #000; text-decoration: none; }
    
    
 .mGrid2
{
	width: 100%;
	background-color: #fff;
	margin: 5px 3px 10px 0;
	border: solid 1px #525252;
	border-collapse: collapse;
	
}
    .mGrid2 td { padding: 2px; border: solid 1px #c1c1c1; color: #717171; font-weight: bold; height:20px; text-align:center; }
    .mGrid2 th
	{
	padding: 4px 2px;
	color: #fff;
	background: #424242 no-repeat top;
	border-left: solid 1px #525252;
	font-size: large;
	font-weight: bold;
	}
.mGrid2 .alt { background: #fcfcfc url(../Images/Icon/grd_alt.png) repeat-x top; }
.mGrid2 .pgr {background: #424242 url(../Images/Icon/grd_pgr.png) repeat-x top; }
.mGrid2 .ftr {background: #424242 url(../Images/Icon/grd_head.png) repeat-x top; color: #FFFFFF;font-size: 24px;font-weight:bold;}
    .mGrid2 .pgr table { margin: 5px 0; }
    .mGrid2 .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 50px; }   
    .mGrid2 .pgr a { color: #666; text-decoration: none; }
    .mGrid2 .pgr a:hover { color: #000; text-decoration: none; }   
    
    
    
.FieldSet
{
	border: 2px ridge #666666;
	border-radius: 5px;
	background-color:White;
    	margin: 0 10px 10px 10px;
}
.PopupPanel
{
	border: 1px ridge #666666;
	background-color: #FFFFFF;
}
.legend
{
	border-style: ridge;
	border-width: 1px;
	border-color:#666666;
	font-family: Verdana;
	font-size: small;
	color: #333333;
	font-weight: bold;
}
.LoginDetail
{
	font-size: small;
	font-weight: bold;
	color: #484848;
}

.modalBackground {
    border: 1px ridge #000000;
    background-color: #000;
    filter: alpha(opacity=40);
    opacity: 0.5;
}
	
.progressBackgroundFilter {
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    overflow:hidden;
    padding:0;
    margin:0;
    background-color:#000;
   
}
.AutoExtender
{
	    
    border-bottom: black thin solid;
    border-left: black thin solid;
    border-top: black thin solid;
    border-right: black thin solid;
    text-align: left;
    text-indent: 0%;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    list-style-type: none;
    margin: 3px;
    padding-top: 3px;
    background-color: white;
    height: 25%;
    overflow: auto;
    width:190px;
     
}
    .AutoExtenderList
    {
       /* border-bottom: dotted 1px #006699;*/
        border-bottom: dotted 1px #333333;
        cursor: pointer;
       
       /* color: Maroon;*/
    }
    .AutoExtenderHighlight
{
	color: #fff;
	background-color: #5f5f5f; /*background-color: #006699;*/
	cursor: pointer;
	 
}
    #divwidth
    {
      width: 150px !important;    
    }
    #divwidth div
   {
    width: 150px !important;   
   }
   
   
   .MISscrollableDivInv
{	
	overflow: hidden;	
	width: 700px;
	height:400px;
}
 .ScrollableDivInv
{
	/*border: 2px ridge #002442;
	height: 250px;*/
	overflow: scroll;
	width: 300px;
	
}
.scrollableDiv
{	
	overflow: scroll;
	/*border: 1px ridge #002442;
	height: 175px;
	width: 600px;*/
}
.scrollableDivBank
{	
	overflow: scroll;
	width: 650px;
}
.ScrollableDivDemand
{
	/*border: 2px ridge #002442;
	height: 250px;*/
	overflow: scroll;
	width: 610px;
	
}
.scrollableDivNew
{
	overflow: scroll;
	height: 200px;
	width:800px;
}
.scrollableDivN1
{
	overflow: scroll;
	height: 200px;
	width:1000px;
}
.scrollableDivN
{
	overflow: scroll;
	height: 900px;
	width:1000px;
}
.scrollableDiv1
{	
	overflow: scroll;
	/*border: 1px ridge #002442;
	height: 175px;*/
	width: 600px;
}
.ScrollableDiv_FixHeightWidth
{
	/*border: 2px ridge #002442;
	height: 250px;*/
	overflow: scroll;
	width: 800px;
}
.ScrollableDiv_FixHeightWidth3feb
{
	/*border: 2px ridge #002442;
	height: 250px;*/
	overflow: scroll;
	width: 950px;
	
}

.ScrollableDiv_FixHeightWidth1
{
	/*border: 2px ridge #002442;
	height: 250px;*/
	overflow: scroll;
	width: 1000px;
	
}

.Display_None
{
	display:none;
}
/*========Use for Combo Box Extendor Style Need To Improve======== */
.CustomComboBoxStyle .ajax__combobox_textboxcontainer input 
{
    background-color:  Transparent  ;
    border: solid 1px ;
    border-right: 0px none;
    height:16px;
    font-size:09pt;
    background-color: #FFF7F2;
	
}
.CustomComboBoxStyle .ajax__combobox_buttoncontainer button
{
	background-color: Transparent;
	border: solid 1px;
	background-color: #FFF7F2;
	
	
}
.ajax__combobox_inputcontainer
{
    top:0px !important;
}

.WaterMarkedTextBox
{
	border: 1px ridge #808080;
	background-color: #EEEEEE;
	
	font-size: 12px;
}

#subnav li a {border-bottom:1px solid #efefef; color:#3f3f3f;}
#subnav li.active a {background-color:#FFF7F2;}



ul.nav {border-bottom: 1px solid #999;}
ul.nav li a {display: block; text-decoration: none; color: #333; padding: 5px; border: 1px solid #fff;}
ul.nav > li:hover {border: 1px solid #666; border-bottom: 1px solid #fff;}
ul.nav li a:hover {background: #ccc; border: 1px solid #999;}
ul.nav > li {display: inline-block; position: relative; border: 1px solid #fff;}
ul.nav > li ul {display: none; position: absolute; left: -1px; width: 150px; border: 1px solid #666; border-top-color: #fff; margin-top: 1px;}
ul.nav > li:hover ul {display: block;}
ul.nav > li ul li {display: block;} /* Vertical Menu */
ul.nav > li ul li {display: inline-block;} /* Horizontal Menu */


.accordionContent 
{
border-color:  #5f5f5f;
border-right: 1px dashed #2F4F4F;
border-style: none solid solid;
border-width: medium 1px 1px;
padding: 10px 5px 5px;
width:100%;
}
.accordionContent1 
{	
border-color:  #5f5f5f;
border-right: 1px dashed #2F4F4F;
border-style: none solid solid;
border-width: medium 1px 1px;
padding: 5px 5px 5px;
width:100%;
}
.accordionHeaderSelected
{
	background-color: #333333;
	border: 1px solid #2F4F4F;
	color: #FF9900;
	cursor: pointer;
	font-family: Arial,Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	padding: 5px;
	width: 97%;
}
.accordionHeader
{
	background-color: #666666;
	border: 1px solid #2F4F4F;
	color: #FF9900;
	cursor: pointer;
	font-family: Arial,Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	padding: 5px;
	width: 97%;
}
.href
{
color: #FF9900;
font-weight:bold;
text-decoration:none;
}
.MISscrollableDiv
{	
	overflow: scroll;	
	width: 950px;
	overflow: scroll;
}
.MISscrollableDivSmall
{	
	overflow: scroll;	
	width: 500px;
	overflow: scroll;
}
.MISscrollablePAN
{	
	overflow: scroll;	
	width: 400px;
	overflow: scroll;
}
.MISscrollableDivSmallReg
{	
	overflow: scroll;	
	width: 500px;
	height:100px;
	overflow: scroll;
}
.MISscrollableDivSmallLoan
{	
	overflow: scroll;	
	width: 375px;
	height:100px;
	overflow: scroll;
}
.MISscrollableDiv4Feb
{	
	overflow: scroll;	
	width: 950px;
	height:300px;
}
.MISscrollableDivNew
{	
	overflow: scroll;	
	width: 950px;
	height:500px;
}
.MISscrollableDivNewBooking
{	
	overflow: scroll;	
	width: 1000px;
	height:300px;
}
.legend
{
	border-style: ridge;
	border-width: 1px;
	font-family: Verdana;
	font-size: small;
	color: #333333;
	font-weight: bold;
   margin-left:5px; 	

}
.EnqFollowUpDtls
{	
	overflow: scroll;	
	width: 800px;
}
.Header
{
	padding: 4px 2px;
	color: #FFFFFF;
	background: #424242 url(../Images/Icon/grd_head.png) repeat-x top;
	border-left: solid 1px #525252;
	font-size: medium;
	font-weight: bold;
}
.LabelContact
{
	font-family: Verdana;
	font-size: xx-large;
	color: #0066CC;
	font-weight: bold;
}
.LabelReport
{
	font-size: 12px;
	text-align: right;
	vertical-align: middle;
	font-weight: bold;
}
.linkButtonMenu
{
	color: #FF6600;
	font-size: 13px;
	padding: 2px 1px 1px 16px;
	font-family: Verdana;
}
.LabelToday
{
	font-family: 'Verdana'; /*color:#483D8B;*/
	color: #FF6600;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
}
.LabelPOP
{	
	font-size: 16px;
	text-align: right;
  vertical-align:middle;  
  font-weight:bold;
  color:Navy;
}
.StatusSummryTitle
{
	background:#307D7E; 
	color:#FFFFFF;
	font-size: 17px;
	text-align: right;
	font-family:Calibri;
	font-weight:bold;
  vertical-align:middle;  
}

.StatusSummryDeg
{
	background:#CCFFFF; 
	color:#307D7E;
	font-size: 17px;
	text-align: center;
  vertical-align:middle;  
  font-weight:bold;
}

.SummryTitle
{
	background:#1569C7; 
	color:#FFFFFF;
	font-size: 17px;
	text-align: center;
	font-weight:bold;
  vertical-align:middle;  	
}

.StatusTOWERSummryTitle
{
	background:#A0CFEC; 
	color:#FFFFFF;
	font-size: 17px;
	text-align: right;
	font-family:Calibri;
	font-weight:bold;
  vertical-align:middle;  
}

.StatusTOWERSummryDeg
{
	background:#89C35C; 
	color:#FFFFFF;
	font-size: 17px;
	text-align: center;
  vertical-align:middle;  
  font-weight:bold;
}

.SummryTOWERTitle
{
	background:#488AC7; 
	color:#FFFFFF;
	font-size: 17px;
	text-align: center;
	font-weight:bold;
  vertical-align:middle;  	
}
.MISscrollableDivRepeter
{	
	width: 910px;
	overflow:scroll;
}
.PrintDivFileterHide 
{
    display:none;
}
.PrintDivFileterShow 
{
    display:block;
}
.AvailabilityChrtDiv 
{
color: white; font-size: 13px; font-weight: bold; text-align: center; vertical-align: middle; max-width: 150px; min-width: 100px;
}

a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span 
{
  position: absolute;
  width:240px;
  color: #0D0203;
  background: #F5F5DC;
  height: 89px;
  line-height: 20px;
  text-align: left;
  margin-left:10px;
  padding-left:10px;
  visibility: hidden;
  border-radius: 12px;
}

a:hover.tooltips span {
  visibility:visible;
  opacity:1;
  left: 100%;
  top: 50%;
  margin-top: 5px;
  margin-left: -50px;
  z-index: 999;
}

.FormHeadingNew {
	width: 100%;
	min-height:440px;
	margin: 0 10px 10px 0;
    height: 35px; 
    font-family: Verdana; 
    font-weight: bold; color: blue; font-size: large;
    background-color:gray; 
	padding: 8px 0 8px 5px;
	font: bold small Tahoma, Arial, Sans-Serif;
	padding: 3px 5px 5px 10px;
	/*-webkit-border-radius: 11px 10px 20px 29px;
    -moz-border-radius: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px;*/
     border-top-left-radius:15px;
    border-top-right-radius:0px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:0px;
    border: 2px solid #080800;
}

/*New Style for DMS search page*/

.mGridNew
{
	width: 100%;
	/*background-color: #fff;*/
	margin: 5px 8px 10px 8px;
	border: solid 1px #525252;
	border-collapse: collapse;
	
}
.mGridNew td
{
    padding:5px 5px;
	/*padding: 4px 2px; 
    color: #fff;
    border-left: solid 1px #525252; */
}
.mGridNew th { padding: 4px; color: #fff; background: #424242 url(../Images/Icon/grd_head.png) repeat-x top; border-left: solid 1px #525252; font-size: 15px; }
/*.mGridNew th  a{color:white;font-size:12px;}
.mGridNew .alt { background: #fcfcfc url(../Images/Icon/grd_alt.png) repeat-x top; }
.mGridNew .pgr {background: #424242 url(../Images/Icon/grd_pgr.png) repeat-x top; }
.mGridNew .ftr {background: #424242 url(../Images/Icon/grd_head.png) repeat-x top; color: #FFFFFF;font-size: 12px;}
    .mGridNew .pgr table { margin: 5px 0; }
    .mGridNew .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }   
    .mGridNew .pgr a { color: #666; text-decoration: none; }
    .mGridNew .pgr a:hover { color: #000; text-decoration: none; }*/

.ModelPopUpPanelBackGroundBig
{
 position:fixed;
    top:10%;
    left:10px;
    width:800px;
    height:500px;
    background-color:White;
    border:solid 3px black;
}
.PopUpHeader
{
padding:1px 0 0px 0;
margin:0 0 0 0;
}

.buttonClass
{
	padding:2px 20px;
	text-decoration:none;
	border:solid 1px Black;
	background-color:#ababab;	
	width: 70px;
	height: 28px;
	}
	
	.buttonClass:hover
	{
		border: Solid 1px Black;
		background-color:#ffffff;
		}